<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		<link rel="stylesheet" href="/css/login.css">
		<script src="/js/login.js"></script>
		<title>AI Chat</title>
	</head>
	<body>
		<div class="login_window">
			<a href="/">
				<img src="/images/chatgpt.png" class="image" />
			</a>
			<div class="message_input_wrapper">
				<input id="userid" class="message_input" placeholder="Type your ID" />
			</div>
			<div class="message_input_wrapper">
				<input id="password" class="message_input" placeholder="Type your Password" />
			</div>
			<div class="login_btn" onclick="login_process()">
				<div class="icon"></div>
				<div class="text">Login</div>
			</div>
			<div class="sign_up_link">
				Don't have an account yet? <a href="/sign_up">Sign Up</a>
			</div>
		</div>
	</body>
</html>
